<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ base_path() }}/scss/main.scss">
    <link rel="icon" href="{{ base_path() }}/favicon.ico" type="image/x-icon">
    <title>WebDirectory</title>
</head>
<body>
<header id="header">
    <div id="title-logo">
        <img src="{{ base_path() }}/favicon.ico" alt="logo" id="logo">
        <h1> <a href="{{url_for('home', {},{})}}" style="text-decoration: none;color: inherit;" >WebDirectory</a></h1>
      </div>
    <nav id="nav-menu">
        <a href="{{url_for('getEntreesAffichage', {},{})}}"><p>ENTREES</p></a>
        <a href="{{url_for('getEntreesParDepartementAffichage', {},{})}}"><p>ENTREES PAR DEPARTEMENT</p></a>
        <a href="{{url_for('getEntreeCreate', {},{})}}"><p>CREER UNE ENTREE</p></a>
        <a href="{{url_for('getDepartementCreate', {},{})}}"><p>CREE UN DEPARTEMENT</p></a>
        {% block auth %}

        {% endblock %}
    </nav>
</header>
<main id="main">

    {% block content %}

    {% endblock %}

</main>
</body>
</html>