{% extends "Index.twig" %}

{% block content %}
    <div id="card">
        <h1 class="titre">Modification d'une entrée</h1>
        <form action="/entree/modification" method="post" id="form-modification-entree" enctype="multipart/form-data">

            <div><label for="nom"></label><input type="text" id="nom" name="nom" placeholder="Nom" value="{{entree.nom}}"></div>
            <div><label for="prenom"></label><input type="text" id="prenom" name="prenom" placeholder="Prenom" value="{{entree.prenom}}"></div>
            <div><label for="nbBureau"></label><input type="text" id="nbBureau" name="nbBureau" placeholder="Numéro Bureau" value="{{entree.num_bureau}}"></div>
            <div><label for="tel_mobile"></label><input type="tel" id="tel_mobile" name="tel_mobile" placeholder="Numéro téléphone mobile" value="{{entree.tel_mobile}}"></div>
            <div><label for="tel_fixe"></label><input type="tel" id="tel_fixe" name="tel_fixe" placeholder="Numéro téléphone fixe" value="{{entree.tel_fixe}}"></div>
            <div><label for="email"></label><input type="email" id="email" name="email" placeholder="Email" value="{{entree.email}}"></div>
            <input type="number" name="id" id="id" value="{{ id }}" style="display: none">
            <br>
            <!--<div><label for="departement_id"></label><input type="text" id="departement_id" name="departement_id" placeholder="Id du département"></div>-->
            <div><label for="departement_id"></label>
                {% for d in departements %}
                    <div>
                        <label>
                            <input type="checkbox" name="departements[]" value="{{ d.departement.id }}" {% if d.departement.id in listeDepartement %} checked {% endif %}>
                            {{ d.departement.nom }}
                        </label>

                    </div>
                {% endfor %}
            </div>
            <div><label for="image"></label><input type="file" id="image" name="image" placeholder="Image" accept="image/jpeg, image/png, image/gif, image/jpg"></div>
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <button  type="submit">Modifier</button>
        </form>
    </div>
{% endblock %}